.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #fdfdfd;
}

.login-box {
  width: 90%;
  max-width: 400px;
  padding: 40px 20px;
  background: white;
  border-radius: 24px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.custom-input {
  --background: #f4f5f8;
  --border-radius: 12px;
  --padding-start: 15px;
  margin-bottom: 12px;
}

.login-button {
  margin-top: 24px;
  height: 52px;
  font-weight: 600;
}